/* COLORS */
$banana: #fff59b;
$text: #6c6c6c;
$cofey: #6b4e36;

/* MEDIA */
$phone: 320px;
$phone-lan: 480px;	//bootstrap: $screen-xs
$pda: 768px;				//bootstrap: $screen-sm
$pda-lan: 992px;		//bootstrap: $screen-md
$laptop: 1200px;		//bootstrap: $screen-lg
$desktop: 2048px;

$rem-base: 14px;